body {
    background: white;
}

#nBlock {
    text-align: center;
}



#nsscode {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

#nssSex, #nssYear, #nssMonth, #nssDepartment, #nssComune, #nssOrderNumber, #nssControlKey {
    text-align: center;
    width: 50%;
    margin: 2% 25%;
}

#nssDetail {
    
}